.megamenu {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 3;
}
.megamenu__body {
  width: 80%;
  margin: 0 auto;
}
.megamenu__content {
  height: 400px;
  position: absolute;
  background: rgb(255, 255, 255);
  width: 100%;
  z-index: 10;
  top: 120px;
}
.megamenu__body__left {
  width: 37%;
  float: left;
}
.megamenu__body__right {
  width: 63%;
  float: left;
}
.megamenu__body__right ul>li {
  width: 30%;
  float: left;
}
.megamenu__body__right_submenu {
  width: 100%;
  float: left;
}
.megamenu__body__right_submenu i {
  color: rgb(81, 172, 68);
}
.megamenu__content a {
  color: black !important;
}